.home-events {
  padding-top: 60px;
  background-color: $white;

  .section-header {
    margin-bottom: 24px;
  }

  .events-list {
    margin-bottom: 60px;

    .event {
      margin-bottom: 60px;
      
      &-overlay {
        
        &-background {
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0.5;
          background-color: $regent-grey;
          z-index: 20;
          visibility: hidden; 
          opacity: 0;
          transition: opacity 1s;

          &.active{
            opacity: 1;
          }
          
          &.visible {
            visibility: visible; 
          }
        }
        
        &-foreground {
          position: fixed;
          width: 80%;
          height: 80%;
          left: 10%;
          top: 50%;
          transform: translateY(-50%);
          background-color: $white;
          z-index: 30;
          visibility: hidden; 
          opacity: 0;
          transition: opacity 1s;
          padding: 16px;
          
          @include mobile {
            max-height: 90%;
          }
          
          &.active {
            opacity: 1;
          }
          
          &.visible {
            visibility: visible; 
          }
          
          &-content {
            display: flex;
          }
          
          .scrollable-content {
            overflow-y: scroll;
            height: 100%;
          }
          
          .close-event {
            width: 50px;
            height: 50px;
            cursor: pointer;
            border-radius: 50px;
            background-color: $white;
            border: 1px solid $regent-grey;
            position: absolute;
            top: -25px;
            right: -25px;
            
            .line {
              position: absolute;
              width: 2px;
              height: 30px;
              background-color: $lucky-point;
              transition: transform 1s;
              
              &-1 {
                top: 10px;
                left: 23px;
                transform: rotate(-45deg);
                
                &.active {
                  transform: rotate(-315deg);
                }
              }
            
              &-2 {
                top: 10px;
                right: 23px;
                transform: rotate(45deg);
                
                &.active {
                  transform: rotate(315deg);
                }
              }
            }
          }
          
          .event-title {
            padding-left: 16px;
            margin-bottom: 24px;
          }
          
          .event-poster {
            width: 100%;
            margin-bottom: 16px;
            
            @include desktop {
              width: 50%;      
            }
          }
          
          .event-details {
            width: 100%;
            
            @include desktop {
              width: 50%;
            }
          }
        }
      }

      &-month {
        width: 100%;

        .month-header {
          margin-bottom: 24px;
          padding-left: 16px;
        }
        
        .date-wedge {
          height: 0;
          width: 0;
          bottom: -8px;
          left: 12px;
          position: absolute;
          border-left: 40px solid $regent-grey;
          border-bottom: 40px solid $regent-grey;
          border-top: 40px solid transparent;
          border-right: 40px solid transparent;
        }
        
        .date-container {
          position: absolute;
          bottom: 6px;
          left: 28px;
          color: $white;
          font-weight: bold;
        }
      }

      .event-poster {
        width: 100%;
        height: auto;
        transition: 0.25s;
        
        -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
        
        &:hover {
          transform: scale(0.98);
        }
      }
    }
  }
}