.home {
  background-color: $regent-grey;
  
  &-contact {
    background-color: $white;
    padding-top: 60px;
    padding-bottom: 60px;
    
    .section-header {
      margin-bottom: 24px;
      
      @include desktop {
        margin-bottom: 80px;
      }
    }
    
    &-social-links {
      display: flex;
      justify-content: center;
      width: 25%;
      margin: 60px auto 0;
      
      @include mobile {
        width: 75%;
      }
      
      a {
        margin: 0 auto;
      }
      
      .social-icon {
        width: 40px;
        height: 40px;
        
        @include md-lg {
          width: 50px;
          height: 50px;
        }
        
        &:hover {
          transform: scale(1.1);
        }
      }
      
    }
    
    &-content {
      position: relative;
      
      @include desktop {
        display: flex;
      }
      
      .google-map-container {
        width: 100%;
        height: 100vw;
        
        @include desktop {
          width: 50%;
          height: 500px;
          display: flex;
          justify-content: flex-end;
          padding-right: 48px;
        }
        
        .google-map {
          border: 5px solid $regent-grey;
          height: 100%;
          width: 100%;
          
          @include desktop {
            width: 500px;
            height: 500px;
          }

        }
      }
      
      .enquiry-form {
        width: 100%;
        
        @include desktop {
          position: absolute;
          right: 0;
          width: 50%;
          padding: 0 24px 0 48px;
        }
        
        .title {
          margin-bottom: 24px;
          
          @include mobile {
            text-align: center;
            margin-top: 24px;
          }
          
          @include tablet {
            text-align: center;
            margin-top: 24px;
          }
        }
        
        label {
          padding: 0;
          margin-bottom: 12px;
          
        }
        
        input,
        textarea {
          margin-bottom: 24px;
          border: 1px solid $regent-grey;
          border-radius: 5px;
        }
        
        input[type="submit"] {
          background-color: transparent;
          transition: background-color .25s;
          font-family: $caviar-dreams;
          border: 1px solid $regent-grey;
          padding: 10px 32px;
          border-radius: 5px;
          
          @include mobile {
            margin-left: 50%;
            transform: translateX(-50%);
            padding: 10px 24px;
          }
          
          @include tablet {
            margin-left: 50%;
            transform: translateX(-50%);
          }
          
          &:hover {
            background-color: $regent-grey;
            color: $white;
          }
        }
        
        textarea {
          height: 200px;
        }
      }
    }
  }
  
  &-bookings {
    background-color: $regent-grey;
    padding-top: 60px;
    padding-bottom: 120px;
    
    .section-header {
      margin-bottom: 60px;
    }
    
    .lifebuoy {
      filter: invert(100%);
    }
    
    .booking-form-container {
      
      .rtb-message {
        color: $white;
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
        font-family: $caviar-dreams;
      }
      
      .booking-info {
        width: 480px;
        margin: 0 auto 24px;
        text-align: center;
        
        @include mobile {
          width: 100%;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
      
      fieldset {
        border: none;
        width: fit-content;
        margin: 0 auto;
        
        @include mobile {
          width: 100%;
          padding: 0 10%;
        }
        
        .rtb-text {
          width: 400px;
          font-family: $caviar-dreams;
          color: $regent-grey;
          
          @include mobile {
            width: 100%;
          }
        }
        
        .rtb-select,
        .add-message,
        .rtb-textarea {
          font-family: $caviar-dreams;
          color: $regent-grey;
        }
        
        select {
          width: 100%;
        }
        
        input {
          max-width: none;
        }
        
        input,
        textarea,
        #rtb-party {
          background-color: $white;
          border: none;
          border-radius: 5px;
        }
        
        a, 
        label {
          color: $white;
        }
      }
      
      button {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 24px;
        padding: 10px 32px;
        font-family: $caviar-dreams;
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        transition: background-color .25s;
        border-radius: 5px;
        
        @include mobile {
          margin-top: 36px;
          padding: 10px 24px;
        }
        
        &:hover {
          color: $regent-grey;
          background-color: $white;
        }
        
        
      }
      
      legend {
        display: none;
      }
    }
  }
  
  &-reviews {
    background-color: $white;
    padding-top: 60px;
    padding-bottom: 60px;
    
    .reviews {
      background-color: $white;
      
      .review {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &-content {
          max-width: 800px;
          
          .comment,
          .author {
            text-align: center;
          }
          
          .comment {
            margin-bottom: 24px;
            
            @include mobile {
              width: 70%;
              margin: 0 auto 24px;
            }
            
            @include tablet {
              width: 70%;
              margin: 0 auto 24px;
            }
          }
        }
      }
    }
  }
  
  &-image-slider {
    background-color: $white;
    height: 400px;
    width: 100%;
    
    img {
      height: 100%;
    }
  }
  
  &-intro {
    background-color: $regent-grey;
    height: 100vh;
    width: 100%;
    min-height: 520px;
    max-height: 640px;
    
    @include sm {
      min-height: 600px;
      max-height: 800px;
    }
    
    @include md-lg {
      min-height: 800px;
      max-height: 1024px;
    }
    
    &-content {
      
      @include mobile {
        position: relative;
      }
      
      .logo {
        width: 348px;
        height: 95px;
        
        @include sm {
          width: 464px;
          height: 126px;
        }
        
        @include md-lg {
          width: 846px;
          height: 240px;
        }
      }
      
      .menu-links {
        position: relative;
        width: 336px;
        margin: 0 auto;
        
        @include mobile {
          display: none;
        }
        
        @include tablet {
          display: none;
        }
        
        @include md-lg {
          width: 610px;
          padding-left: 28px;
        }
        
        .menu-link {
          margin: 0 auto;
          
          a {
            color: $white;
            transition: color 0.25s;
          }
          
        }
        
      }
      
      .pub-info {
        text-align: center;
        margin-top: 60px;
        
        @include tablet {
          margin-top: 24px;
        }
        
        @include desktop {
          margin-top: 48px;
        }
        
        .info-point {
          margin-bottom: 4px;
        }
      }
      
      .social-icon {
        position: absolute;
        transition: right 1s;
        right: -40px;
        width: 40px;
        height: 40px;
        
        @include tablet {
          right: -50px;
          width: 50px;
          height: 50px;
        }
        
        @include desktop {
          right: -50px;
          width: 50px;
          height: 50px;
        }
        
        &:hover {
          transform: scale(1.1);
        }
        
        &.twitter {
          bottom: 32%;
          
          @include mobile {
            left: 25%;
            transform: translateX(-20px);
          }
          
          @include tablet {
            top: 48px;
          }
          
          @include desktop {
            top: 48px;
          }
        }
        
        &.facebook {
          bottom: 32%;
          
          @include mobile {
            left: 50%;
            transform: translateX(-20px);
          }
          
          @include tablet {
            top: 110px;
          }
          
          @include desktop {
            top: 110px;
          }
        }
        
        &.instagram {
          bottom: 32%;
          
          @include mobile {
            left: 75%;
            transform: translateX(-20px);
          }
          
          @include tablet {
            top: 172px;
          }
          
          @include desktop {
            top: 172px;
          }
        }
      }
    }
  }
  
  &-menu {
    background-color: $regent-grey;
    
    @include desktop {
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 120px;
    }
    
    &-filter {
      text-align: center;
      margin-bottom: 64px;
      
      .filter-copy {
        margin-bottom: 12px;
      }
      
      .filter-options {
        
        @include mobile {
          text-align: center;
        }
        
        @include desktop {
          display: flex;
          justify-content: center;
        }
        
      }
      
      .filter-option {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 4px;
        
        @include mobile {
          width: fit-content;
          margin: 0 auto 12px;
        }
        
        @include tablet {
          width: fit-content;
          margin: 0 auto 12px;
        }
        
        @include desktop {
          margin-right: 24px;
        }
        
        img {
          height: 25px;
          width: 25px;
          margin-right: 12px;
        }
        
        &.active {
          background-color: $moon-mist;
        }
      }
    }
    
    &-content {
      background-color: $white;
      padding-bottom: 64px;
      position: relative;
      
      -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
      
      .section-header {
        margin-top: 60px;
        margin-bottom: 60px;
        
        .food {
          margin-right: 36px;
        }
        
        .drink {
          margin-left: 36px;
        }
        
        .food,
        .drink {
          cursor: pointer;
          color: $black;
          transition: color 0.25s;
          line-height: 1.3;
          
          
          &.active:after {   
            border-bottom: solid 3px $black; 
            transform: scaleX(1);
          }
        }
        
      }
      
      #food-menu {
        text-align: center;
      }
      
      #food-menu,
      #drink-menu {
        
        
        &.active {
          
        }
      }
    }
    
    .featured {
      
      &-title {
        margin-bottom: 24px;
        text-align: center;
      }
      
      &-drinks {
        display: flex;
        margin-bottom: 24px;
        
        @include mobile {
          display: none;
        }
      }
      
      &-drink {
        margin-right: 24px;
      }
      
      &-image {
        width: 300px;
        height: 300px;
        background-size: cover;
        background-position: center;
      }
    }
     
    .menu-section {
      
      &-title {
        margin-bottom: 24px;
        text-align: center;
        
        @include mobile {
          margin-top: 48px;
        }
      }
      
      .menu-item {
        &-line {
          position: relative;
          display: flex;
        }
        
        &-line:last-of-type {
          margin-bottom: 24px;
        }
        
        &-name {
          @include mobile {
            max-width: 300px;
            line-height: 1.6;
          }
        }
        
        &-description {
          
        }
        
        &-name,
        &-description {
          text-align: left;
          
          @include desktop {
            margin-left: 168px;
          }
          
        }
        
        &-price {
          position: absolute;
          right: 0;
          
          @include desktop {
            right: 168px;
          }
          
        }
        
        .allergen {
          width: 25px;
          height: 25px;
          margin-bottom: 5px;
        }
      }
    }
  }
}