.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  color: $white;
}

.clearfix::after {
  display: block;
  clear: both;
  width: 0;
  height: 0;
  content: " ";
}

.text-center {
  text-align: center;
}