.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  color: $white;
}

.clearfix::after {
  display: block;
  clear: both;
  width: 0;
  height: 0;
  content: " ";
}

.text-center {
  text-align: center;
}

.hov-black:after {
  border-bottom: solid 3px $black; 
}

.hov-white:after {
  border-bottom: solid 3px $white; 
}

.hov:after {
  display:block;
  content: '';
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}


.hov:hover:after {
  transform: scaleX(1);
}